langchain==0.3.25
langchain_community==0.3.24
langchain_core==0.3.63
pandas==1.5.3
pinecone==7.0.2
pinecone_text==0.10.0
protobuf==3.20.3
pydantic==2.11.5
python-dotenv==1.1.0
# sentence_transformers==4.1.0
sentence_transformers==2.2.2
# streamlit==1.45.1
streamlit==1.28.0
# torch==2.4.1
torch==2.7.0
# transformers==4.48.2
transformers==4.31.0
