# Core LLM & Vector Search Libraries
langchain>=0.1.0
langchain-community>=0.0.18
transformers
sentence-transformers
pinecone
pinecone-text

# File Parsing
pypdf

# Environment & I/O
python-dotenv
pyreadline3
tqdm

# ML Tools
scikit-learn
torch

# Frontend
streamlit

# (Optional) OpenAI support (나중에 필요할 듯)
# openai
